html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

    --base-color-rgb: 217, 217, 217;
    --base-color: rgb(var(--base-color-rgb));
}

:root {
    --main-color: #17181a;
    --button-grey: #303136;
    --button-blue: #005db2;
    --text-blue: #329cfd;
    --background-blue: #a0d7ff;
    --button-grey-2: #606061;
    --text-grey: #a0a2a3;
    --warning: #ffcc00;
    --danger: #ff0505;
}

.main {
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2rem;
    background: var(--main-color);
    border: 1px solid var(--base-color);
    border-radius: clamp(10px, 4vw, 40px);
    box-shadow: 0 0 10px 1px rgba(var(--base-color-rgb), 0.5);
    padding: clamp(15px, 5vw, 25px);
}

.calculator-body > div {
    display: flex;
}

#calculator-input {
    text-align: end;
    font-family: 'Roboto';
    font-size: 3rem;
    color: white;
    width: 90%;
    background: none;
    border: none;
    padding: 20px;
    margin-bottom: 4rem;
    /* box-shadow: inset 0 0 10px 1px rgba(var(--base-color-rgb), 0.25); */
    border-bottom: 1px solid rgba(var(--base-color-rgb), 0.4);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.numbers-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    flex-grow: 1;
}

.buttons-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.calculate-buttons {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.calculate-button {
    display: flex;
    width: fit-content;
}

#equals {
    flex-grow: 5;
}

.calculator-button {
    font-family: 'Roboto';
    font-size: 1.5rem;
    flex: 1;
    background: var(--button-grey);
    color: var(--text-blue);
    border: none;
    border-radius: 15px;
    margin: 5px 5px;
    min-width: 75px;
    min-height: 50px;
    transition: all 0.1s ease-in-out;
}

.calculator-button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(var(--base-color-rgb), 0.5);
    transform: scale(1.05);
    filter: brightness(125%);
}

.operator-button {
    background: var(--button-blue);
}

.equals {
    background: var(--text-blue);
    color: white;
}

.delete,
.reset {
    background: var(--button-grey-2);
}

.delete {
    color: var(--warning);
}

.delete:hover {
    background: var(--warning);
    color: var(--button-grey-2);
}

.reset {
    color: var(--danger);
}

.reset:hover {
    background: var(--danger);
    color: white;
}
